<button nbButton fullWidth status="primary" (click)="onAdd()">
    <nb-icon icon="plus-square-outline"></nb-icon>
</button>

<ng-template #createCustomer let-data>
    <nb-card [formGroup]="addCustomerFormGroup">
        <nb-card-body>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <input type="text" nbInput fullWidth placeholder="Username" formControlName="username">
                    <div class="alert w-100 alert-danger mt-1"
                        *ngIf="addCustomerFormGroup.get('username').invalid && (addCustomerFormGroup.get('username').dirty || addCustomerFormGroup.get('username').touched)">
                        <div *ngIf="addCustomerFormGroup.get('username').errors['notblank']">
                            Username is required
                        </div>
                        <div *ngIf="addCustomerFormGroup.get('username').errors['pattern']">
                            Invalid username format
                        </div>
                        <div *ngIf="addCustomerFormGroup.get('username').errors['minlength']">
                            Username must have at least 3 characters
                        </div>
                        <div *ngIf="addCustomerFormGroup.get('username').errors['maxlength']">
                            Username must not exceed 20 characters
                        </div>
                        <div *ngIf="addCustomerFormGroup.get('username').errors['usernameExists']">
                            This username already exists
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <input type="email" nbInput fullWidth placeholder="Email" formControlName="email">
                    <div class="alert w-100 alert-danger mt-1"
                        *ngIf="addCustomerFormGroup.get('email').invalid && (addCustomerFormGroup.get('email').dirty || addCustomerFormGroup.get('email').touched)">
                        <div *ngIf="addCustomerFormGroup.get('email').errors['notblank']">
                            Email is required
                        </div>
                        <div *ngIf="addCustomerFormGroup.get('email').errors['pattern']">
                            Invalid email format
                        </div>
                        <div *ngIf="addCustomerFormGroup.get('email').errors['maxlength']">
                            Email must not exceed 50 characters
                        </div>
                        <div *ngIf="addCustomerFormGroup.get('email').errors['emailExists']">
                            This email already exists
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 mt-3">
                    <input type="password" nbInput fullWidth placeholder="Password" formControlName="password">
                    <div class="alert w-100 alert-danger mt-1"
                        *ngIf="addCustomerFormGroup.get('password').invalid && (addCustomerFormGroup.get('password').dirty || addCustomerFormGroup.get('password').touched)">
                        <div *ngIf="addCustomerFormGroup.get('password').errors['notblank']">
                            Password is required
                        </div>
                        <div *ngIf="addCustomerFormGroup.get('password').errors['minlength']">
                            Password must have at least 8 character
                        </div>
                        <div *ngIf="addCustomerFormGroup.get('password').errors['maxlength']">
                            Password must not exceed 50 characters
                        </div>
                        <div *ngIf="addCustomerFormGroup.get('password').errors['pattern']">
                            Password must have at least 1 character and 1 number
                        </div>
                    </div>
                </div>


                <div class="col-lg-6 col-md-12 mt-3">
                    <input type="text" nbInput fullWidth placeholder="Full Name" formControlName="fullName">
                    <div class="alert w-100 alert-danger mt-1"
                        *ngIf="addCustomerFormGroup.get('fullName').invalid && (addCustomerFormGroup.get('fullName').dirty || addCustomerFormGroup.get('fullName').touched)">
                        <div *ngIf="addCustomerFormGroup.get('fullName').errors['notblank']">
                            Full Name is required
                        </div>
                        <div *ngIf="addCustomerFormGroup.get('fullName').errors['maxlength']">
                            Full Name must not exceed 100 characters
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12  mt-3">
                    <input type="text" nbInput fullWidth placeholder="Phone Number" formControlName="phoneNumber">
                    <div class="alert w-100 alert-danger mt-1"
                        *ngIf="addCustomerFormGroup.get('phoneNumber').invalid && (addCustomerFormGroup.get('phoneNumber').dirty || addCustomerFormGroup.get('phoneNumber').touched)">
                        <div *ngIf="addCustomerFormGroup.get('phoneNumber').errors['pattern']">
                            Phone number must be exactly 10 digits in length and can only contain numerical digits
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 mt-3">
                    <nb-checkbox (checkedChange)="addCustomerFormGroup.get('active').setValue($event)"
                        [checked]="addCustomerFormGroup.get('active').value" status="warning">
                        Active
                    </nb-checkbox>
                </div>

                <div class="col-lg-6 col-md-12 mt-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Upload</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" mutliple class="custom-file-input" accept="image/png, image/jpeg"
                                (change)="selectFile($event)">
                            <label class="custom-file-label">Choose images</label>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 mt-3">
                    <div class="row d-flex justify-content-center align-item-center">
                        <div class="col-12 d-flex justify-content-center align-item-center border border-primary"
                            style="height: 275px">
                            <ng-container *ngIf="addCustomerFormGroup.get('image').value !== null">
                                <img [src]="addCustomerFormGroup.get('image').value" class="d-block w-100"
                                    alt="Slide Image" style="max-height: 300px; object-fit: contain;">
                            </ng-container>
                        </div>
                    </div>
                </div>

                <!-- <ng-container *ngIf="addCustomerFormGroup.get('image').value !== null">
                    <div class="col-12">
                        <img [src]="addCustomerFormGroup.get('image').value" class="d-block w-100 mx-auto"
                            alt="Slide Image">
                    </div>
                </ng-container> -->
            </div>

        </nb-card-body>
        <nb-card-footer>
            <button nbButton status="success" class="mt-3" (click)="addCustomer()">
                CREATE
            </button>
        </nb-card-footer>
    </nb-card>
</ng-template>