<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
    <div [class]="'d-flex align-items-center ' + (fullWidth ? 'container-fluid' : 'container')">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a routerLink="/product/default/dark-yellow-lace-cut-out-swing-dress">Product</a>
            </li>
            <li class="breadcrumb-item active">{{ current }}</li>
        </ol>
    </div>
</nav>
