<nb-card [formGroup]="editCouponFormGroup">
    <nb-card-header>
        Edit Coupon Id: {{editCouponFormGroup.get('id').value}}
    </nb-card-header>
    <nb-card-body>
        <input type="text" nbInput fullWidth placeholder="Coupon Code" formControlName="code">
        <div class="alert alert-danger mt-0 mb-3"
            *ngIf="editCouponFormGroup.get('code').invalid && (editCouponFormGroup.get('code').dirty || editCouponFormGroup.get('code').touched)">
            <div *ngIf="editCouponFormGroup.get('code').errors['notblank']">
                Coupon code is required
            </div>

            <div *ngIf="editCouponFormGroup.get('code').errors['maxlength']">
                Coupon Name must not exceed 20 characters
            </div>
        </div>

        <textarea rows="3" nbInput fullWidth placeholder="Short Description" formControlName="description"
            style="resize: none"></textarea>
        <div class="alert alert-danger mt-0 mb-3"
            *ngIf="editCouponFormGroup.get('description').invalid && (editCouponFormGroup.get('description').dirty || editCouponFormGroup.get('description').touched)">
            <div *ngIf="editCouponFormGroup.get('description').errors['notblank']">
                Coupon description is required
            </div>

            <div *ngIf="editCouponFormGroup.get('description').errors['maxlength']">
                Coupon description must not exceed 50 characters
            </div>
        </div>

        <nb-select fullWidth selected="1" placeholder="Discount Type" formControlName="discountType">
            <nb-select-label>
                Type: {{ editCouponFormGroup.get('discountType').value }}
            </nb-select-label>
            <nb-option value="Fixed">Fixed</nb-option>
            <nb-option value="Percent">Percent</nb-option>
        </nb-select>
        <div class="alert alert-danger mt-0 mb-3"
            *ngIf="editCouponFormGroup.get('discountType').invalid && (editCouponFormGroup.get('discountType').dirty || editCouponFormGroup.get('discountType').touched)">
            <div *ngIf="editCouponFormGroup.get('discountType').errors['required']">
                Discount Type is required
            </div>
        </div>

        <input type="number" nbInput fullWidth placeholder="Discount Value" formControlName="discountValue">
        <div class="alert alert-danger mt-0 mb-3"
            *ngIf="editCouponFormGroup.get('discountValue').invalid && (editCouponFormGroup.get('discountValue').dirty || editCouponFormGroup.get('discountValue').touched)">
            <div *ngIf="editCouponFormGroup.get('discountValue').errors['required']">
                Discount Value is required
            </div>

            <div *ngIf="editCouponFormGroup.get('discountValue').errors['max']">
                Discount Value must not be larger than 100%
            </div>
        </div>

        <input nbInput fullWidth placeholder="Start Date" [nbDatepicker]="startDate" formControlName="startedDate">
        <nb-datepicker #startDate></nb-datepicker>
        <div class="alert alert-danger mt-2 mb-3"
            *ngIf="editCouponFormGroup.get('startedDate').invalid && (editCouponFormGroup.get('startedDate').dirty || editCouponFormGroup.get('startedDate').touched)">
            <div *ngIf="editCouponFormGroup.get('startedDate').errors['required']">
                Start Date is required
            </div>
        </div>
        <input nbInput fullWidth placeholder="Expire Date" [nbDatepicker]="expireDate" formControlName="expiredDate">
        <nb-datepicker #expireDate></nb-datepicker>
        <div class="alert alert-danger mt-2 mb-3"
            *ngIf="editCouponFormGroup.get('expiredDate').invalid && (editCouponFormGroup.get('expiredDate').dirty || editCouponFormGroup.get('expiredDate').touched)">
            <div *ngIf="editCouponFormGroup.get('expiredDate').errors['required']">
                Expire Date is required
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="d-flex justify-content-between">
            <button nbButton status="success" (click)="submitEditCoupon()">SAVE</button>
        </div>
    </nb-card-footer>
</nb-card>