@import "../../../@theme/styles/themes";

@include nb-install-component() {
  nb-card[size="giant"] {
    max-height: calc(100% + 50px);
    overflow-y: scroll;
  }

  nb-card-body {
    overflow: visible;
    padding-top: 0;

    > * {
      margin-top: 1rem;
    }
  }

  .inputs-group,
  .validation-checkboxes {
    margin: 0.5rem 0rem;
  }

  .checkbox-radio {
    display: flex;
  }

  .demo-items {
    flex: 1 0 33%;
  }

  nb-accordion-item-body > input,
  nb-accordion-item-body > nb-select {
    margin: 1rem 0;
  }
}

::ng-deep ng2-completer input {
  width: 100%;
  height: 40px;
  padding: 0.4375rem 1rem;
  margin: 1rem 0;
  border: 1px solid #E3E8F1;
  border-radius: 0.25rem;
  background-color: #F7F9FC;
}

::ng-deep ng2-completer input::placeholder {
  color: #8F9BB3
}

::ng-deep ng2-completer input:focus {
  border: none
}

::ng-deep ng2-completer .completer-searching {
  background-color: red;
}