<nb-card [formGroup]="editCatalogFormGroup">
    <nb-card-header>
        Edit Catalog Id: {{this.editCatalogFormGroup.get('id').value !== null ? this.editCatalogFormGroup.get('id').value : ''}}
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-12 no-gutters px-0">
                <input type="text" nbInput fullWidth placeholder="Catalog Name" formControlName="name" class="mb-1">
                <div class="alert alert-danger mt-0 mb-3"
                    *ngIf="editCatalogFormGroup.get('name').invalid && (editCatalogFormGroup.get('name').dirty || editCatalogFormGroup.get('name').touched)">
                    <div *ngIf="editCatalogFormGroup.get('name').errors['notblank']">
                        Catalog Name is required
                    </div>
                    <div *ngIf="editCatalogFormGroup.get('name').errors['maxlength']">
                        Catalog Name must not exceed 100 characters
                    </div>
                </div>
            </div>
            <div class="col-12 no-gutters px-0 mt-3">
                <textarea rows="3" nbInput fullWidth placeholder="Short Description" formControlName="description"
                    style="resize: none"></textarea>
                <div class="alert alert-danger mt-0 mb-3"
                    *ngIf="editCatalogFormGroup.get('description').invalid && (editCatalogFormGroup.get('description').dirty || editCatalogFormGroup.get('description').touched)">
                    <div *ngIf="editCatalogFormGroup.get('description').errors['notblank']">
                        Catalog description is required
                    </div>
                    <div *ngIf="editCatalogFormGroup.get('description').errors['maxlength']">
                        Catalog description must not exceed 500 characters
                    </div>
                </div>
            </div>
            <ng-container *ngIf="isShowParent">
                <div class="col-12 no-gutters px-0 mt-3">
                    <nb-select fullWidth selected="1" placeholder="Parent" formControlName="parent">
                        <nb-select-label>
                            Parent: {{ editCatalogFormGroup.get('parent').value !== null ? editCatalogFormGroup.get('parent').value['catalogName'] : null}}
                        </nb-select-label>
                        <nb-option *ngFor="let cata of catalogs" [value]="cata">{{cata.catalogName}}</nb-option>
                    </nb-select>
                </div>
            </ng-container>
            <div class="col-12 no-gutters px-0 mt-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" mutliple class="custom-file-input" accept="image/png, image/jpeg"
                            (change)="selectFile($event)">
                        <label class="custom-file-label">Choose images</label>
                    </div>
                </div>
                <div class="alert alert-danger mt-1 mb-3"
                    *ngIf="editCatalogFormGroup.get('image').invalid && (editCatalogFormGroup.get('image').dirty || editCatalogFormGroup.get('image').touched)">
                    <div *ngIf="editCatalogFormGroup.get('image').errors['required']">
                        Catalog Image is required
                    </div>
                </div>
            </div>
            <div class="col-12 mt-1">
                <img [src]="isSelectedFile ? (uploadedFile ? uploadedFile['dataUrl'] : '' ) : editCatalogFormGroup.get('image').value" class="d-block w-50 mx-auto mt-3" alt="Slide Image">
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="d-flex justify-content-between">
            <button nbButton status="success" (click)="editCatalog()">SAVE</button>
        </div>
    </nb-card-footer>
</nb-card>