<div class="col-12 d-flex justify-content-center">
    <h4>Care Guide #3</h4>
</div>
<div class="row mt-3" [formGroup]="careGuideForm">
    <div class="col-lg-6 col-md-12">
        <label for="watering" class="ml-1">Watering</label>
        <textarea rows="5" nbInput fullWidth placeholder="Watering" id="watering"
            formControlName="watering" style="resize: none"></textarea>
        <div class="alert alert-danger mt-1"
            *ngIf="careGuideForm.get('watering').invalid && (careGuideForm.get('watering').dirty || careGuideForm.get('watering').touched)">
            <div *ngIf="careGuideForm.get('watering').errors['maxlength']">
                Watering guide must not exceed 500 characters
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <label for="light" class="ml-1">Light</label>
        <textarea rows="5" nbInput fullWidth placeholder="Light" id="light" formControlName="light"
            style="resize: none"></textarea>
        <div class="alert alert-danger mt-1"
            *ngIf="careGuideForm.get('light').invalid && (careGuideForm.get('light').dirty || careGuideForm.get('light').touched)">
            <div *ngIf="careGuideForm.get('light').errors['maxlength']">
                Light guide must not exceed 500 characters
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 mt-3">
        <label for="nutrition" class="ml-1">Nutrition</label>
        <textarea rows="5" nbInput fullWidth placeholder="Nutrition" id="nutrition"
            formControlName="nutrition" style="resize: none"></textarea>
        <div class="alert alert-danger mt-1"
            *ngIf="careGuideForm.get('nutrition').invalid && (careGuideForm.get('nutrition').dirty || careGuideForm.get('nutrition').touched)">
            <div *ngIf="careGuideForm.get('nutrition').errors['maxlength']">
                Nutrition guide must not exceed 500 characters
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 mt-3">
        <label for="cleaning" class="ml-1">Cleaning</label>
        <textarea rows="5" nbInput fullWidth placeholder="Cleaning" id="cleaning"
            formControlName="cleaning" style="resize: none"></textarea>
        <div class="alert alert-danger mt-1"
            *ngIf="careGuideForm.get('cleaning').invalid && (careGuideForm.get('cleaning').dirty || careGuideForm.get('cleaning').touched)">
            <div *ngIf="careGuideForm.get('cleaning').errors['maxlength']">
                Cleaning guide must not exceed 500 characters
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 mt-3">
        <label for="pruning" class="ml-1">Pruning</label>
        <textarea rows="5" nbInput fullWidth placeholder="Pruning" id="pruning"
            formControlName="pruning" style="resize: none"></textarea>
        <div class="alert alert-danger mt-1"
            *ngIf="careGuideForm.get('pruning').invalid && (careGuideForm.get('pruning').dirty || careGuideForm.get('pruning').touched)">
            <div *ngIf="careGuideForm.get('pruning').errors['maxlength']">
                Pruning guide must not exceed 500 characters
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 mt-3">
        <label for="bugs" class="ml-1">Bugs</label>
        <textarea rows="5" nbInput fullWidth placeholder="Bugs" id="bugs" formControlName="bugs"
            style="resize: none"></textarea>
        <div class="alert alert-danger mt-1"
            *ngIf="careGuideForm.get('bugs').invalid && (careGuideForm.get('bugs').dirty || careGuideForm.get('bugs').touched)">
            <div *ngIf="careGuideForm.get('bugs').errors['maxlength']">
                Bugs guide must not exceed 500 characters
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 mt-3">
        <label for="trouble" class="ml-1">Trouble</label>
        <textarea rows="5" nbInput fullWidth placeholder="Trouble" id="trouble"
            formControlName="trouble" style="resize: none"></textarea>
        <div class="alert alert-danger mt-1"
            *ngIf="careGuideForm.get('trouble').invalid && (careGuideForm.get('trouble').dirty || careGuideForm.get('trouble').touched)">
            <div *ngIf="careGuideForm.get('trouble').errors['maxlength']">
                Trouble guide must not exceed 500 characters
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 mt-3">
        <label for="warning" class="ml-1">Warning</label>
        <textarea rows="5" nbInput fullWidth placeholder="Warning" id="warning"
            formControlName="warning" style="resize: none"></textarea>
        <div class="alert alert-danger mt-1"
            *ngIf="careGuideForm.get('warning').invalid && (careGuideForm.get('warning').dirty || careGuideForm.get('warning').touched)">
            <div *ngIf="careGuideForm.get('warning').errors['maxlength']">
                Warning guide must not exceed 500 characters
            </div>
        </div>
    </div>
</div>