<div class="mobile-menu-container">
  <div class="mobile-menu-wrapper">
    <span class="mobile-menu-close" (click)="hideMobileMenu()"><i class="icon-close"></i></span>

    <form action="#" method="get" class="mobile-search" (submit)="submitSearchForm($event)">
      <label for="mobile-search" class="sr-only">Search</label>
      <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..."
        required>
      <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
    </form>

    <nav class="mobile-nav">
      <ul class="mobile-menu">
        <li>
          <a routerLink="/">
            Home
          </a>
        </li>
        <li>
          <a routerLink="/shop/list">
            Shop
          </a>
        </li>
        <li>
          <a routerLink="/pages/about">
            About Us
          </a>
        </li>
        <li>
          <a routerLink="/pages/contact">
            Contact
          </a>
        </li>
        <li>
          <a routerLink="/shop/wishlist">
            Wishlsit
          </a>
        </li>
        <li>
          <a routerLink="/shop/cart">
            Cart
          </a>
        </li>
        <li>
          <a href="https://manage.plantnest.online/admin/auth/login" target="_blank">
            Go Admin Pages
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
