<ng-container *ngIf="isCareGuideAvailable">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <nb-accordion>
                    <nb-accordion-item #item *ngFor="let guide of careGuide">
                        <nb-accordion-item-header>
                            {{ guide.key | uppercase }}
                        </nb-accordion-item-header>
                        <nb-accordion-item-body>
                            {{ guide.value }}
                        </nb-accordion-item-body>
                    </nb-accordion-item>
                </nb-accordion>
            </div>
        </div>
    </div>
</ng-container>