<nb-card>
    <nb-card-body style="padding: 50px;">
        <nb-stepper orientation="horizontal" >
            <nb-step label="Basic Information" class="d-flex flex-column align-item-center">
                <ngx-form-basic-information [mode]="'edit'" [product]="edittingProduct">
                </ngx-form-basic-information>

                <div class="col-12  d-flex justify-content-center mt-3">
                    <button nbButton disabled nbStepperNext>prev</button>
                    <button nbButton nbStepperNext class="ml-3">next</button>
                </div>
            </nb-step>
            <nb-step label="Variants">
                <ngx-form-variants [mode]="'edit'" [product]="edittingProduct"></ngx-form-variants>

                <div class="col-12 d-flex justify-content-center mt-3">
                    <button nbButton nbStepperPrevious>prev</button>
                    <button nbButton nbStepperNext class="ml-3">next</button>
                </div>
            </nb-step>
            <nb-step label="Care Guide">
                <ngx-form-care-guide [mode]="'edit'" [product]="edittingProduct"></ngx-form-care-guide>

                <div class="col-12 d-flex justify-content-center mt-3">
                    <button nbButton nbStepperPrevious>prev</button>
                    <button nbButton status="success" type="submit" class="ml-3" (click)="onSubmit()">PUBLISH</button>
                </div>
            </nb-step>
        </nb-stepper>
    </nb-card-body>
</nb-card>