<main class="main home-page skeleton-body">
  <div class="page-content">
    <div class="intro-section bg-image"
      style="background-image: url(assets/images/home/background.jpg); background-color: #fff;;">
      <div class="container">
        <owl-carousel carouselClasses="inner-carousel owl-simple rows cols-1" [options]="introSlider">
          <div class="intro-slide"
            style="background-image: url(assets/images/home/intro-slider/1b.jpg); background-color: #2a323e;
                  background-repeat: no-repeat; background-size: cover; background-position: 0 80%; height: 500px">
            <div class="intro-content intro-content-left">
              <h3 class="intro-title font-weight-bold text-green mb-0" contentAnim aniName="fadeInUpShorter">
                Welcome To A<br>Real Plant Family
              </h3>
              <h3 class="intro-desc mb-2 font-weight-light text-secondary" contentAnim aniName="fadeInUpShorter">Sale
                30% off</h3>
              <a routerLink="/shop/list" class="btn btn-primary text-uppercase" contentAnim
                aniName="fadeInUpShorter">Shop now</a>
            </div>
          </div>
          <div class="intro-slide"
            style="background-image: url(assets/images/home/intro-slider/2.jpg); background-color: #2a323e;
                    background-repeat: no-repeat; background-size: cover; background-position: 0 80%; height: 500px">
            <div class="intro-content intro-content-right">
              <h6 class="font-weight-normal text-white my-2 mt-0" contentAnim aniName="fadeInUpShorter">100% Recyclable
                Packaging</h6>
              <h3 class="intro-title font-weight-bold text-white mb-0" contentAnim aniName="fadeInUpShorter">Good For
                You<br>And The Planet</h3>
              <h3 class="intro-desc mb-2 font-weight-light text-secondary" contentAnim aniName="fadeInUpShorter">Fast
                Shipping</h3>
              <a routerLink="/shop/list" class="btn btn-primary text-uppercase" contentAnim
                aniName="fadeInUpShorter">Shop now</a>
            </div>
          </div>
        </owl-carousel>
      </div>
    </div>
    <div class="banner-group-1 mt-1 mb-1">
      <div class="container">
        <owl-carousel carouselClasses="owl-simple rows cols-1 cols-sm-2 cols-lg-3" [options]="bannerSlider">
          <div class="banner mb-0">
            <a routerLink="/shop/list">
              <molla-image src="assets/images/home/banners/banner-1.jpg" width="460" height="210" fixedPt="21rem"
                style="background-color: #e2f1f8;"></molla-image>
            </a>
            <div class="banner-content p-3">
              <h5 class="banner-subtitle font-weight-normal text-light mb-1">Greenery Haven</h5>
              <h3 class="banner-title font-weight-bold">Verdant paradise <br>oasis.</h3>
              <a routerLink="/shop/list" class="banner-link text-decoration-none">Shop Now<i
                  class="icon-angle-right"></i></a>
            </div>
          </div>
          <div class="banner mb-0">
            <a routerLink="/shop/list">
              <molla-image src="assets/images/home/banners/banner-2.jpg" width="460" height="210" fixedPt="21rem"
                style="background-color: #c9e9e4;"></molla-image>
            </a>
            <div class="banner-content p-3">
              <h5 class="banner-subtitle font-weight-normal text-light mb-1">Botanic Treasures</h5>
              <h3 class="banner-title font-weight-bold">Discover rare and exquisite<br> botanical wonders.</h3>
              <a routerLink="/shop/list" class="banner-link text-decoration-none">Shop Now<i
                  class="icon-angle-right"></i></a>
            </div>
          </div>
          <div class="banner mb-0">
            <a routerLink="/shop/list">
              <molla-image src="assets/images/home/banners/banner-3.jpg" width="460" height="210" fixedPt="21rem"
                style="background-color: #e7e6e2;"></molla-image>
            </a>
            <div class="banner-content p-3">
              <h5 class="banner-subtitle font-weight-normal text-light mb-1">Leafy Delights</h5>
              <h3 class="banner-title font-weight-bold">Nature's soothing <br>embrace.</h3>
              <a routerLink="/shop/list" class="banner-link text-decoration-none">Shop Now<i
                  class="icon-angle-right"></i></a>
            </div>
          </div>
        </owl-carousel>
      </div>
    </div>
  </div>
  <div class="icon-boxes-group">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6" contentAnim aniName="fadeInLeftShorter">
          <div
            class="icon-box d-flex align-items-center align-items-md-start mt-3 flex-column flex-md-row text-center text-md-left">
            <figure class="m-0">
              <i aria-hidden="true" class="icon icon-truck text-dark d-inline-flex"></i>
            </figure>
            <div class="icon-box-content">
              <div class="icon-title letter-spacing-normal text-dark">
                Payment &amp; Delivery
              </div>
              <p class="text-light font-weight-normal">Free shipping for orders over $50</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" contentAnim aniName="fadeInLeftShorter">
          <div
            class="icon-box d-flex align-items-center align-items-md-start mt-3 flex-column flex-md-row text-center text-md-left">
            <figure class="m-0">
              <img src="assets/images/home/social-icons/return.jpg">
            </figure>
            <div class="icon-box-content">
              <div class="icon-title letter-spacing-normal text-dark">
                Return &amp; Refund
              </div>
              <p class="text-light font-weight-normal">Free 100% money back guarantee</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" contentAnim aniName="fadeInRightShorter">
          <div
            class="icon-box d-flex align-items-center align-items-md-start mt-3 flex-column flex-md-row text-center text-md-left">
            <figure class="m-0">
              <img src="assets/images/home/social-icons/quality.jpg">
            </figure>
            <div class="icon-box-content">
              <div class="icon-title letter-spacing-normal text-dark">
                Quality Support
              </div>
              <p class="text-light font-weight-normal">Alway online feedback 24/7</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" contentAnim aniName="fadeInRightShorter">
          <div
            class="icon-box d-flex align-items-center align-items-md-start mt-3 flex-column flex-md-row text-center text-md-left">
            <figure class="m-0">
              <img src="assets/images/home/social-icons/newsletter.jpg">
            </figure>
            <div class="icon-box-content">
              <div class="icon-title letter-spacing-normal text-dark">
                Join Our Newsletter
              </div>
              <p class="text-light font-weight-normal">10% off by subscribing to our newsletter</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <hr class="m-0">
    <div class="cat-section mt-4 mb-3" contentAnim aniName="fadeInUpShorter">
      <div class="row">
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-8col">
          <div class="cat bg-white pt-1 mb-2">
            <div class="cat-image" style="border-radius: 50%; overflow: hidden">
              <a routerLink="/shop/list" [queryParams]="{catalog: 'flowering'}">
                <molla-image src="assets/images/home/categories/1.jpg" width="137" height="137" fixedPt="137px"></molla-image>
              </a>
            </div>
            <div class="cat-content text-center">
              <a routerLink="/shop/list" [queryParams]="{catalog: 'flowering'}" class="cat-title">Flowering</a>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-8col">
          <div class="cat bg-white pt-1 mb-2">
            <div class="cat-image" style="border-radius: 50%; overflow: hidden">
              <a routerLink="/shop/list" [queryParams]="{catalog: 'non-flowering'}"><molla-image
                  src="assets/images/home/categories/2.jpg" width="137" height="137" fixedPt="137px"></molla-image></a>
            </div>
            <div class="cat-content text-center">
              <a routerLink="/shop/list" [queryParams]="{catalog: 'non-flowering'}" class="cat-title">Non-flowering</a>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-8col">
          <div class="cat bg-white pt-1 mb-2">
            <div class="cat-image" style="border-radius: 50%; overflow: hidden">
              <a routerLink="/shop/list" [queryParams]="{catalog: 'indoor'}">
                <molla-image src="assets/images/home/categories/3.jpg" width="137" height="137" fixedPt="137px"></molla-image>
              </a>
            </div>
            <div class="cat-content text-center">
              <a routerLink="/shop/list" [queryParams]="{catalog: 'indoor'}" class="cat-title">Indoor</a>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-8col">
          <div class="cat bg-white pt-1 mb-2">
            <div class="cat-image" style="border-radius: 50%; overflow: hidden">
              <a routerLink="/shop/list" [queryParams]="{catalog: 'outdoor'}"><molla-image
                  src="assets/images/home/categories/4.jpg" width="137" height="137" fixedPt="137px"></molla-image></a>
            </div>
            <div class="cat-content text-center">
              <a routerLink="/shop/list" [queryParams]="{catalog: 'outdoor'}" class="cat-title">Outdoor</a>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-8col">
          <div class="cat bg-white pt-1 mb-2">
            <div class="cat-image" style="border-radius: 50%; overflow: hidden">
              <a routerLink="/shop/list" [queryParams]="{catalog: 'succulent'}"><molla-image
                  src="assets/images/home/categories/5.jpg" width="137" height="137" fixedPt="137px"></molla-image></a>
            </div>
            <div class="cat-content text-center">
              <a routerLink="/shop/list" [queryParams]="{catalog: 'succulent'}" class="cat-title">Succulent</a>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-8col">
          <div class="cat bg-white pt-1 mb-2">
            <div class="cat-image" style="border-radius: 50%; overflow: hidden">
              <a routerLink="/shop/list" [queryParams]="{catalog: 'soil'}"><molla-image
                  src="assets/images/home/categories/6.jpg" width="137" height="137" fixedPt="137px"></molla-image></a>
            </div>
            <div class="cat-content text-center">
              <a routerLink="/shop/list" [queryParams]="{catalog: 'soil'}" class="cat-title">Soil</a>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-8col">
          <div class="cat bg-white pt-1 mb-2">
            <div class="cat-image" style="border-radius: 50%; overflow: hidden">
              <a routerLink="/shop/list" [queryParams]="{catalog: 'fertilizers'}"><molla-image
                  src="assets/images/home/categories/7.jpg" width="137" height="137" fixedPt="137px"></molla-image></a>
            </div>
            <div class="cat-content text-center">
              <a routerLink="/shop/list" [queryParams]="{catalog: 'fertilizers'}" class="cat-title">Fertilizers</a>
            </div>
          </div>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2 col-xl-8col">
          <div class="cat bg-white pt-1 mb-2">
            <div class="cat-image" style="border-radius: 50%; overflow: hidden">
              <a routerLink="/shop/list" [queryParams]="{catalog: 'pesticides'}"><molla-image
                  src="assets/images/home/categories/8.jpg" width="137" height="137" fixedPt="137px"></molla-image></a>
            </div>
            <div class="cat-content text-center">
              <a routerLink="/shop/list" [queryParams]="{catalog: 'pesticides'}" class="cat-title">Pesticides</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <molla-trendy-collection
    [products]="saleProducts" [loaded]="loadedSaleProduct" [title]="'Recommended For You'">
  </molla-trendy-collection>

  <div class="banner-group-2 mb-4">
    <div class="container">
      <div class="row row-sm">
        <div class="col-md-6" contentAnim aniName="fadeInRightShorter">
          <div class="banner bg-image d-flex align-items-center"
            style="background-image: url(assets/images/home/banners/5.jpg); background-position: 0 90%;">
            <div class="banner-content">
              <h4 class="banner-subtitle mb-1 mt-0 text-light font-weight-normal">Exquisite Botanicals</h4>

              <h3 class="banner-title font-weight-bold">
                Nature's rarest beauty
                <br> delivered to you.
              </h3>
              <a routerLink="/shop/list" class="banner-link text-decoration-none">Shop Now<i
                  class="icon-angle-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6" contentAnim aniName="fadeInLeftShorter">
          <div class="banner bg-image d-flex align-items-center"
            style="background-image: url(assets/images/home/banners/6.jpg);">
            <div class="banner-content">
              <h4 class="banner-subtitle mb-1 mt-0 text-light font-weight-normal">Supreme Foliage</h4>
              <h3 class="banner-title font-weight-bold">
                Elevate with top-tier
                <br>lush greenery options.
              </h3>
              <a routerLink="/shop/list" class="banner-link text-decoration-none">Shop Now<i
                  class="icon-angle-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <molla-trendy-collection
    [products]="topProducts" [loaded]="loadedTopProduct" [title]="'Today Flash Sales'">
  </molla-trendy-collection>

  <div class="container">
    <div class="service-section py-3 pb-0 mt-3">
      <owl-carousel carouselClasses="carousel-simple" [options]="serviceSlider">
        <div
          class="icon-box d-flex align-items-center align-items-md-start flex-column flex-md-row text-center text-md-left py-2 pt-0 mb-7">
          <figure class="m-0">
            <img src="assets/images/home/social-icons/icon-apple.jpg">
          </figure>
          <div class="icon-box-content">
            <h3 class="icon-title letter-spacing-normal mb-1">Premium Flora</h3>
            <p class="text-light font-weight-light">Elevate spaces with our finest, handpicked quality plants.</p>
          </div>
        </div>
        <div
          class="icon-box d-flex align-items-center align-items-md-start flex-column flex-md-row text-center text-md-left py-2 pt-0 mb-7">
          <figure class="m-0">
            <img src="assets/images/home/social-icons/icon-leaf.jpg">
          </figure>
          <div class="icon-box-content">
            <h3 class="icon-title letter-spacing-normal mb-1">Botanic Excellence</h3>
            <p class="text-light font-weight-light">Explore excellence through meticulously nurtured and curated botanical selections.</p>
          </div>
        </div>
        <div
          class="icon-box d-flex align-items-center align-items-md-start flex-column flex-md-row text-center text-md-left py-2 pt-0 mb-7">
          <figure class="m-0">
            <img src="assets/images/home/social-icons/icon-medal.jpg">
          </figure>
          <div class="icon-box-content">
            <h3 class="icon-title letter-spacing-normal mb-1">Superior Greens</h3>
            <p class="text-light font-weight-light">Experience nature's best with our exceptional, top-tier plant varieties.</p>
          </div>
        </div>
      </owl-carousel>
    </div>
  </div>
</main>
