<ng-container *ngIf="isProductAvailable">
    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="row">
                <div class="col-lg-5 d-flex align-items-center">
                    <ngx-images-carousel></ngx-images-carousel>
                </div>
                <div class="col-lg-7">
                    <h6>{{product.productName}}</h6>
                    <p><span class="font-weight-bold">Id: </span>{{product.productId}}</p>

                    <p><span class="font-weight-bold">Catalog: </span>{{product.catalog !== null ?
                        product.catalog.catalogName : ''}}</p>
                    <p><span class="font-weight-bold">Sale: </span>{{product.productSale !== null ?
                        product.productSale.saleName : ''}}</p>
                    <p><span class="font-weight-bold">Difficulty In Grow: </span>{{product.plantingDifficultyLevel !==
                        null ? product.plantingDifficultyLevel.level : ''}}</p>

                    <p><span class="font-weight-bold">Total Sold: </span>{{product.totalSold}}</p>
                    <p><span class="font-weight-bold">Total Likes: </span>{{product.totalLikes}}</p>
                    <p>
                        <span class="font-weight-bold">Rating Star: </span> {{product.totalRating}} |
                        <span class="font-weight-bold">Total Rating: </span> {{product.totalRating}}
                    </p>
                    <div class="row d-flex pl-3">
                        <p class="font-weight-bold">Status:</p>
                        <div class="d-flex">
                            <div *ngIf="product.new === true">
                                <h6><span class="badge badge-pill badge-success">NEW</span></h6>
                            </div>
                            <div *ngIf="product.top === true" class="ml-1">
                                <h6><span class="badge badge-pill badge-danger">TOP</span></h6>
                            </div>
                            <div *ngIf="product.active === true" class="ml-1">
                                <h6><span class="badge badge-pill text-white badge-warning">ACTIVE</span></h6>
                            </div>
                            <div *ngIf="product.sale === true" class="ml-1">
                                <h6><span class="badge badge-pill badge-info">SALE</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <h6>Description</h6>
                    <p [innerHTML]="product.description"></p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col" style="width: 15%;" class="align-middle text-center">
                            <p><span class="font-weight-bold">Image</span></p>
                        </th>
                        <th scope="col" style="width: 35%;" class="align-middle text-center">
                            <p><span class="font-weight-bold">Dimension</span></p>
                        </th>
                        <th scope="col" style="width: 20%;" class="align-middle text-center">
                            <p><span class="font-weight-bold">Size</span></p>
                        </th>
                        <th scope="col" style="width: 10%;" class="align-middle text-center">
                            <p><span class="font-weight-bold">Price</span></p>
                        </th>
                        <th scope="col" style="width: 10%;" class="align-middle text-center">
                            <p><span class="font-weight-bold">Quantity</span></p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let variant of product.productVariants">
                        <th class="d-flex justify-content-center">
                            <img [src]="
                                variant.imageUrl !== 'http://localhost:9090/assets/upload/variant/null' ?
                                variant.imageUrl :
                                'assets/images/no-image.jpg'" [height]="75" class="d-block">
                        </th>
                        <th class="align-middle text-center">
                            <p>{{"h: " + variant.height + "cm * w: " + variant.width + "cm"}}</p>
                        </th>
                        <th class="align-middle text-center">
                            <p>{{variant.productSize.sizeName | uppercase}}</p>
                        </th>
                        <th class="align-middle text-center">
                            <p>{{variant.price + "$"}}</p>
                        </th>
                        <th class="align-middle text-center">
                            <p>{{variant.quantity}}</p>
                        </th>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <h6 class="ml-3">Size Guide</h6>
                <div class="col-12 d-flex justify-content-center">
                    <img [src]="'http://localhost:9090/assets/upload/size_guide/' + product.imageSizeGuideUrl" alt=""
                        class="d-block w-75">
                </div>
            </div>
        </div>
        <hr>
    </div>
</ng-container>


<div *ngIf="!isProductAvailable">
    <p>Loading...</p>
</div>