<ng-container *ngIf="loadedCustomers; else loadingBlock">
    <nb-card>
        <nb-card-header class="d-flex justify-content-between align-items-center">
            <h6>
                Customer List
            </h6>
            <ngx-item-of-list (selectNumberOfItem)="source.setPaging(1, $event)"></ngx-item-of-list>
        </nb-card-header>
        <nb-card-body>
            <ng2-smart-table
                id="product-table"
                [settings]="settings" 
                [source]="source" 
                [ngClass]="'smart-table'"
                (userRowSelect)="onRowSelect($event)">
            </ng2-smart-table>
        </nb-card-body>
        <nb-card-footer>
            <ng-container *ngIf="selectedCustomers.length > 0">
                <ngx-customers-list-multi [selectedCustomers]="selectedCustomers" (isUpdated)="onUpdateStatus($event)">
                </ngx-customers-list-multi>
            </ng-container>
        </nb-card-footer>
    </nb-card>
</ng-container>

<ng-template #loadingBlock>
    <nb-card [size]="'small'" [nbSpinner]="!loadedCustomers" nbSpinnerSize="large" nbSpinnerStatus="primary">
    </nb-card>
</ng-template>