<form [formGroup]="addSaleFormGroup" (ngSubmit)="submitAddSale()">
    <nb-card>
        <nb-card-header>
            Add A New Product Sale
        </nb-card-header>
        <nb-card-body>
            <input type="text" nbInput fullWidth placeholder="Sale Name" formControlName="name">
            <div class="alert alert-danger mt-0 mb-3"
                *ngIf="addSaleFormGroup.get('name').invalid && (addSaleFormGroup.get('name').dirty || addSaleFormGroup.get('name').touched)">
                <div *ngIf="addSaleFormGroup.get('name').errors['notblank']">
                    Sale name is required
                </div>

                <div *ngIf="addSaleFormGroup.get('name').errors['maxlength']">
                    Sale Name must not exceed 50 characters
                </div>
            </div>

            <textarea rows="3" nbInput fullWidth placeholder="Short Description" formControlName="description"
                style="resize: none"></textarea>
            <div class="alert alert-danger mt-0 mb-3"
                *ngIf="addSaleFormGroup.get('description').invalid && (addSaleFormGroup.get('description').dirty || addSaleFormGroup.get('description').touched)">
                <div *ngIf="addSaleFormGroup.get('description').errors['notblank']">
                    Sale description is required
                </div>

                <div *ngIf="addSaleFormGroup.get('description').errors['maxlength']">
                    Sale description must not exceed 50 characters
                </div>
            </div>

            <nb-select fullWidth selected="1" placeholder="Discount Type" formControlName="discountType">
                <nb-select-label>
                    Type: {{ addSaleFormGroup.get('discountType').value }}
                </nb-select-label>
                <nb-option value="Fixed">Fixed</nb-option>
                <nb-option value="Percent">Percent</nb-option>
            </nb-select>
            <div class="alert alert-danger mt-0 mb-3"
                *ngIf="addSaleFormGroup.get('discountType').invalid && (addSaleFormGroup.get('discountType').dirty || addSaleFormGroup.get('discountType').touched)">
                <div *ngIf="addSaleFormGroup.get('discountType').errors['required']">
                    Discount Type is required
                </div>
            </div>

            <input type="number" nbInput fullWidth placeholder="Discount Value" formControlName="discountValue">
            <div class="alert alert-danger mt-0 mb-3"
                *ngIf="addSaleFormGroup.get('discountValue').invalid && (addSaleFormGroup.get('discountValue').dirty || addSaleFormGroup.get('discountValue').touched)">
                <div *ngIf="addSaleFormGroup.get('discountValue').errors['required']">
                    Discount Value is required
                </div>

                <div *ngIf="addSaleFormGroup.get('discountValue').errors['max']">
                    Discount Value must not be larger than 100%
                </div>
            </div>

            <input nbInput fullWidth placeholder="Start Date" [nbDatepicker]="startDate" formControlName="startedAt">
            <nb-datepicker #startDate></nb-datepicker>
            <div class="alert alert-danger mt-2 mb-3"
                *ngIf="addSaleFormGroup.get('startedAt').invalid && (addSaleFormGroup.get('startedAt').dirty || addSaleFormGroup.get('startedAt').touched)">
                <div *ngIf="addSaleFormGroup.get('startedAt').errors['required']">
                    Start Date is required
                </div>
            </div>
            <input nbInput fullWidth placeholder="Expire Date" [nbDatepicker]="expireDate" formControlName="expiredAt">
            <nb-datepicker #expireDate></nb-datepicker>
            <div class="alert alert-danger mt-2 mb-3"
                *ngIf="addSaleFormGroup.get('expiredAt').invalid && (addSaleFormGroup.get('expiredAt').dirty || addSaleFormGroup.get('expiredAt').touched)">
                <div *ngIf="addSaleFormGroup.get('expiredAt').errors['required']">
                    Expire Date is required
                </div>
            </div>

            <nb-checkbox (checkedChange)="addSaleFormGroup.get('active').setValue($event)" status="success"
                [checked]="addSaleFormGroup.get('active').value">
                Active
            </nb-checkbox>

        </nb-card-body>
        <nb-card-footer>
            <div class="d-flex justify-content-between">
                <button nbButton status="success">Create</button>
            </div>
        </nb-card-footer>
    </nb-card>
</form>