<nb-card [formGroup]="addCatalogFormGroup">
    <nb-card-header>
        Add A New Catalog
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-12 no-gutters px-0">
                <input type="text" nbInput fullWidth placeholder="Catalog Name" formControlName="name" class="mb-1">
                <div class="alert alert-danger mt-0 mb-3"
                    *ngIf="addCatalogFormGroup.get('name').invalid && (addCatalogFormGroup.get('name').dirty || addCatalogFormGroup.get('name').touched)">
                    <div *ngIf="addCatalogFormGroup.get('name').errors['notblank']">
                        Catalog Name is required
                    </div>
                    <div *ngIf="addCatalogFormGroup.get('name').errors['maxlength']">
                        Catalog Name must not exceed 100 characters
                    </div>
                </div>
            </div>
            <div class="col-12 no-gutters px-0 mt-3">
                <textarea rows="3" nbInput fullWidth placeholder="Short Description" formControlName="description"
                    style="resize: none"></textarea>
                <div class="alert alert-danger mt-0 mb-3"
                    *ngIf="addCatalogFormGroup.get('description').invalid && (addCatalogFormGroup.get('description').dirty || addCatalogFormGroup.get('description').touched)">
                    <div *ngIf="addCatalogFormGroup.get('description').errors['notblank']">
                        Catalog description is required
                    </div>
                    <div *ngIf="addCatalogFormGroup.get('description').errors['maxlength']">
                        Catalog description must not exceed 500 characters
                    </div>
                </div>
            </div>
            <div class="col-12 no-gutters px-0 mt-3">
                <nb-select fullWidth selected="1" placeholder="Parent" formControlName="parent">
                    <nb-select-label>
                        Parent: {{ addCatalogFormGroup.get('parent').value !== null ? addCatalogFormGroup.get('parent').value['catalogName'] : null}}
                    </nb-select-label>
                    <nb-option>Reset</nb-option>
                    <nb-option *ngFor="let cata of catalogs" [value]="cata">{{cata.catalogName}}</nb-option>
                </nb-select>
            </div>
            <div class="col-12 no-gutters px-0 mt-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Upload</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" mutliple class="custom-file-input" accept="image/png, image/jpeg"
                            (change)="selectFile($event)">
                        <label class="custom-file-label">Choose images</label>
                    </div>
                </div>
                <div class="alert alert-danger mt-1 mb-3"
                    *ngIf="addCatalogFormGroup.get('image').invalid && (addCatalogFormGroup.get('image').dirty || addCatalogFormGroup.get('image').touched)">
                    <div *ngIf="addCatalogFormGroup.get('image').errors['required']">
                        Catalog Image is required
                    </div>
                </div>
            </div>
            <div class="col-12 mt-2">
                <div class="row d-flex justify-content-center align-item-center">
                    <div class="col-12 d-flex justify-content-center align-item-center border border-primary"
                        style="height: 275px">
                        <ng-container *ngIf="uploadedFile">
                            <img [src]="uploadedFile?.dataUrl" class="d-block w-100"
                                alt="Slide Image" style="max-height: 300px; object-fit: contain;">
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="d-flex justify-content-between">
            <button nbButton status="success" (click)="createCatalog()">Create</button>
        </div>
    </nb-card-footer>
</nb-card>